# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Logs
logs/
*.log
*.log.*
/tmp

# Environment
.env
.env.local
.env.*.local

# Database (SQLite)
*.sqlite
*.sqlite-journal
*.db
*.db-journal
*.db
*.db-shm
*.db-wal


# OS
.DS_Store
Thumbs.db

# Build / Cache
dist/
build/
.cache/
coverage/

# IDE
.vscode/
.idea/
*.iml
